
  nav{
    display: flex;
    background-image: url(../../img/ricknmorty.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 10vh;
   
  }
nav a{
  color: white;
  text-decoration: none;
  position: fixed;
  z-index: 50;
  padding: 20px;
}
nav a:hover{
  color: rgb(82, 241, 104)
}