
  .menu{
    display: flex;
    width: 180px;
    align-items: center;
    
  }
  .open-menu{
    z-index: 10;
  }
 
  .opened{
    z-index: 10;
    animation: .5s linear 0s 1 alternate exist;
  }
@keyframes exist{
  from{
    opacity: 0;
  }
  to{
    opacity: 1
  }
}
  .menu{
    transition: all .4s;
    margin-bottom: 5px;
  }
  .menu:hover{
    background:#fffa
  }
  .menu img{ 
    width: 100px;
  } 
  nav{
    display: flex;
    background-image: url(../../img/ricknmorty.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 10vh;
  }
  
  .open-menu a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #fff5
  }
  .open-menu a:hover{
    color: rgb(94, 235, 101)
  }
  