input{
    border: 2px solid white;
    font-size: 2em;
    border-radius: 10px;
    background-color: #fff8;
    padding: 12px;
    outline: none;
}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px
}
.item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    border-bottom: 2px solid white;
}
.item img{
    width: 150px;
}
.item img:hover{
    box-shadow: 0 0 15px rgb(238, 59, 214);
}

.name{
    text-shadow: 0 0 10px rgb(65, 236, 80);
    cursor: pointer
}
.name:hover{
    color:rgb(238, 59, 214);
}
.result button{
    font-size: 20px;
    font-family: inherit;
    color:rgb(65, 236, 80);
    outline: none;
    border: none;
    background:black;
}
.result button:hover{
    color:rgb(238, 59, 214)
}