.App{
  font-family: 'Audiowide', cursive;
  margin: 0 auto;
  background-image: url(./img/desktop.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top; 
  color: white;
  background-color: black;
  min-height: 110vh;
  padding: 0px;
}
footer{
  text-align: center;
  margin-top: 30vh;
  background-color: #2c2c2c;
  position: relative;
  padding:20px;
}
footer span{
  text-shadow: 0 0 3px rgb(97, 231, 115);
  cursor: pointer;
}
footer span:hover{
  color: rgb(97, 231, 115);
}
